<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Ortho Scoring System</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      
      <li [routerLinkActive]="['active']" ><a routerLink='/superadmin/dashboard'>Dashboard</a></li>
      
      <li class="dropdown" [routerLinkActive]="['active']">
        <a class="dropdown-toggle" data-toggle="dropdown">Hospital
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li [routerLinkActive]="['active']"><a routerLink='/superadmin/hospital/add-hospital'>Add Hospital</a></li>
          <li [routerLinkActive]="['active']"><a routerLink='/superadmin/hospital/add-branch'>Add Branch</a></li>
        </ul>
      </li>
      
      <li [routerLinkActive]="['active']" ><a routerLink='/superadmin/user'>User</a></li>
      
      <li class="dropdown" [routerLinkActive]="['active']">
        <a class="dropdown-toggle" data-toggle="dropdown">Prosthesis
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li [routerLinkActive]="['active']"><a routerLink='/superadmin/prosthesis/add-company'>Add Company</a></li>
          <li [routerLinkActive]="['active']"><a routerLink='/superadmin/prosthesis/add-design'>Add Design</a></li>
        </ul>
      </li>

      <li [routerLinkActive]="['active']" ><a routerLink='/superadmin/options'>Options</a></li>
      
      <li><a href="#" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>

